.secthead {
    background-color: #9b009d;
    display: flex;
    height: 6vh;
    margin: 0px;
}

.head2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

body {
    margin:0px;
}

#many {
    width:10%;
    filter: brightness(180);
    padding: 2px;
    padding-top: 4px;
    opacity: 60%;
}

.logo {
    display: flex;
    align-items: center;
}

.formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
}

.courant {
    margin-right: 5px;
    color:white;
    opacity: 60%;
    font-family: 'Roboto';
    font-size: 12px;
}

#eM {
    font-style: italic;
        font-family: 'Roboto';
}

.btn-green{
    background-color: #00e173;
    border-radius: 5px;
    color:white;
    padding:5px;
    width:100px;
    font-size: 14px;
    font-family: 'Roboto';
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.navbar, .navbar li {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar li p {
    display: flex;
    align-items: center;
    margin:10px;
}

.logomolen {
    width:40%;
    position:relative;
}

.logomol {
    border-bottom:solid 0.5px rgb(227, 227, 227);
    border-right:solid 0.5px rgb(227, 227, 227);
    position:relative;
    flex:1;
}

.menu, .cowork, .logomol {
    display: flex;
    align-items: center;
    justify-content: center;
    height:10vh;
}

.cowork {
    flex:1;
    padding-left:10px;
    padding-right: 10px;
    display: flex;
    border-bottom: solid 0.5px rgb(227, 227, 227);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.menu {
    flex:3;
    display: flex;
    border-bottom: solid 0.5px rgb(227, 227, 227);
    border-right: solid 0.5px rgb(227, 227, 227);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    color:black;
}

/* 
a::after {
    content: "";
    width: 80px;
    border: solid 2px black;
    display: inline-block;
    bottom:-10px;
} */

.a-2:hover::before {
    content: "";
    width: 63px;
    border: solid 2px black;
    display: inline-block;
    bottom: 3px;
    position: absolute;
}

.titre{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

h1 {
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 300;
}

h3 {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 300;
}

.titre-h3 {
    display: flex;
    justify-content: start;
    padding-left: 13vw;
}

.line {
    display: flex;
    justify-content: center;
}

hr {
    width: 60px;
    border: #9b009d solid 1px;
}

.corps1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3.2vh;
    padding-left: 12vw;
    padding-right: 12vw;
}

.listing li::marker {
    color:purple;
}

.corps2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12vw;
    padding-right: 12vw;
    margin-top: -2vh;
}

.corps1 p, .corps2 p {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 200;
    line-height: 1.9;
    color:rgb(68, 68, 68);
}

.section-2 {
    padding-bottom: 60px;
}

footer {
    background-color: #363636;
    padding-top:60px;
    /* padding-bottom:60px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.icons {
    display: flex;
    justify-content: center;
    gap:15px;
}

.icons img {
    filter: invert(1);
    height: 3.5vh;
  }

.icon1, .icon2, .icon3 {
    padding-left: 5px;
    padding-right: 5px;
    display:flex;
    align-items: center;
    gap:5px;
}

.icon1 p, .icon2 p, .icon3 p {
    font-family: 'Montserrat';
    text-transform: uppercase;
    color:white;
    font-size: 8px;
    font-weight: 600;
    font-stretch: extra-expanded;
}

.logomolen-2 img {
    height:10vh;
}

.logomolen-2 {
    margin-top: 70px;;
}

.copy {
    padding-top: 30px;
    padding-bottom: 10px;
}

.copy p {
    font-family: 'Roboto';
    font-size: 10px;
    color: #4f4f4f;
}